{% extends "layout.html" %}
{% block content %}
<style>
    /* Простой CSS для центрирования и уменьшения размера */
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        max-width: 40%; /* Максимальная ширина изображения */
        height: auto; /* Автоматическое вычисление высоты для сохранения пропорций */
    }
    .social-networks-img {
        margin-top: 200px; /* Отступ перед изображением */
    }
</style>
<h3 class="card-title">
    <i class="fa fa-paper-plane"></i>
    Мониторинг и анализ бренда в интернете
</h3>
<div class="col-12 col-xxl-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-search"></i>
                Какие отзывы есть о вашем продукте и о товарах конкурентов?
            </h3>
        </div>
        <div class="card-body border-bottom py-3">
            <div class="center">
                <img src="{{ url_for('static', path='media/search-analytics.jpg') }}" alt="search analytics">
            </div>
            <p>Люди оставляют отзывы в сети о том, что им нравится или что им не хватает в продуктах или услугах,
                привлекая внимание к альтернативным продуктам и услугам. Воспользуйтесь этой обратной связью, чтобы
                улучшить свой продукт.</p>
        </div>
    </div>

</div>
<div class="col-12 col-xxl-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-shield"></i>
                Обезопасьте себя от угроз, затрагивающих вашу репутацию.
            </h3>
        </div>
        <div class="card-body border-bottom py-3">
            <div class="center">
                <img src="{{ url_for('static', path='media/digital-marketing.png') }}" alt="digital marketing">
            </div>
            <p>Отрицательный комментарий от популярного блогера, неопровергаемый слух, ложная информация,
                распространившаяся жалоба от клиента - все эти ситуации могут повредить репутации компании и привести к
                финансовым потерям.</p>
        </div>
    </div>

</div>


<div class="center">
    <img src="{{ url_for('static', path='media/social-networks.png') }}" alt="Social Networks"
         class="social-networks-img">
</div>
{% endblock %}
